::-moz-selection {
    background-color: #fcb842
}

::selection {
    background-color: #f74d49
}

.bg-primary {
    background-color: #fcb842 !important
}

.bg-secondary {
    background-color: #eca62d !important
}

a {
    color: #f74d49
}

a:focus, a:hover {
    color: #191919
}

.link-underline {
    box-shadow: 0 1px 0 0 #fcb842
}

.text-primary {
    color: #fcb842 !important
}

.text-secondary {
    color: #eca62d !important
}

.alert-primary {
    background-color: #fcb842
}

.banner-badge .banner-link:focus .banner-link-text, .banner-badge .banner-link:hover .banner-link-text {
    background-color: #fcb842
}

.header-3 .header-search-extended .btn, .header-4 .header-search-extended .btn {
    background-color: transparent;
    color: #333
}

.header-3 .header-search-extended .btn:focus, .header-3 .header-search-extended .btn:hover, .header-4 .header-search-extended .btn:focus, .header-4 .header-search-extended .btn:hover {
    color: #fcb842
}

.btn-video {
    color: #fcb842
}

.btn-video:focus, .btn-video:hover {
    background-color: #eca62d
}

.breadcrumb-item a:focus, .breadcrumb-item a:hover {
    color: #fcb842
}

.btn-link {
    color: #fcb842
}

.btn-link .btn-link-dark:focus, .btn-link .btn-link-dark:hover, .btn-link:focus, .btn-link:hover {
    color: #fcb842;
    border-color: #fcb842
}

.btn-primary {
    color: #fff;
    background-color: #f74d49;
    border-color: #f74d49;
    box-shadow: none
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #f74d49;
    background-color: #fff;
    border-color: #f74d49;
    box-shadow: none
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #fcb842;
    border-color: #fcb842
}

.btn-secondary {
    color: #fff;
    background-color: #eca62d;
    border-color: #eca62d;
    box-shadow: none
}

.btn-secondary.focus, .btn-secondary:focus, .btn-secondary:hover, .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #fcb842;
    border-color: #fcb842;
    box-shadow: none
}

.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #eca62d;
    border-color: #eca62d
}

.btn-white {
    color: #333;
    background-color: #fff;
    border-color: #fff;
    box-shadow: none
}

.btn-white.focus, .btn-white:focus, .btn-white:hover, .btn-white:not(:disabled):not(.disabled).active, .btn-white:not(:disabled):not(.disabled):active, .show > .btn-white.dropdown-toggle {
    color: #fff;
    background-color: #fcb842;
    border-color: #fcb842;
    box-shadow: none
}

.btn-white.disabled, .btn-white:disabled {
    color: #333;
    background-color: #fff;
    border-color: #fff
}

.btn-white-2 {
    color: #333;
    background-color: #fff;
    border-color: #fff;
    box-shadow: none
}

.btn-white-2.focus, .btn-white-2:focus, .btn-white-2:hover, .btn-white-2:not(:disabled):not(.disabled).active, .btn-white-2:not(:disabled):not(.disabled):active, .show > .btn-white-2.dropdown-toggle {
    color: #fff;
    background-color: #eca62d;
    border-color: #eca62d;
    box-shadow: none
}

.btn-white-2.disabled, .btn-white-2:disabled {
    color: #333;
    background-color: #fff;
    border-color: #fff
}

.btn-primary-white {
    color: #fff;
    background-color: #fcb842;
    border-color: #fcb842;
    box-shadow: none
}

.btn-primary-white.focus, .btn-primary-white:focus, .btn-primary-white:hover, .btn-primary-white:not(:disabled):not(.disabled).active, .btn-primary-white:not(:disabled):not(.disabled):active, .show > .btn-primary-white.dropdown-toggle {
    color: #fcb842;
    background-color: #fff;
    border-color: #fff;
    box-shadow: none
}

.btn-primary-white.disabled, .btn-primary-white:disabled {
    color: #fff;
    background-color: #fcb842;
    border-color: #fcb842
}

.btn-white-primary {
    color: #fcb842;
    background-color: #fff;
    border-color: #fff;
    box-shadow: none
}

.btn-white-primary.focus, .btn-white-primary:focus, .btn-white-primary:hover, .btn-white-primary:not(:disabled):not(.disabled).active, .btn-white-primary:not(:disabled):not(.disabled):active, .show > .btn-white-primary.dropdown-toggle {
    color: #fff;
    background-color: #fcb842;
    border-color: #fcb842;
    box-shadow: none
}

.btn-white-primary.disabled, .btn-white-primary:disabled {
    color: #fcb842;
    background-color: #fff;
    border-color: #fff
}

.btn-dark {
    color: #fff;
    background-color: #333;
    border-color: #333;
    box-shadow: none
}

.btn-dark.focus, .btn-dark:focus, .btn-dark:hover, .btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #fcb842;
    border-color: #fcb842;
    box-shadow: none
}

.btn-dark.disabled, .btn-dark:disabled {
    color: #fff;
    background-color: #333;
    border-color: #333
}

.btn-outline {
    color: #fcb842;
    background-color: transparent;
    background-image: none;
    border-color: #ebebeb;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .05)
}

.btn-outline.focus, .btn-outline:focus, .btn-outline:hover, .btn-outline:not(:disabled):not(.disabled).active, .btn-outline:not(:disabled):not(.disabled):active, .show > .btn-outline.dropdown-toggle {
    color: #fcb842;
    background-color: transparent;
    border-color: #ebebeb;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15)
}

.btn-outline.disabled, .btn-outline:disabled {
    color: #fcb842;
    background-color: transparent
}

.btn-outline-primary {
    color: #fcb842;
    background-color: transparent;
    background-image: none;
    border-color: #fcb842;
    box-shadow: none
}

.btn-outline-primary.focus, .btn-outline-primary:focus, .btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fcb842;
    background-color: transparent;
    border-color: #ebebeb;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .05)
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #fcb842;
    background-color: transparent
}

.btn-outline-primary-2 {
    color: #f74d49;
    background-color: transparent;
    background-image: none;
    border-color: #f74d49;
    box-shadow: none
}

.btn-outline-primary-2.focus, .btn-outline-primary-2:focus, .btn-outline-primary-2:hover, .btn-outline-primary-2:not(:disabled):not(.disabled).active, .btn-outline-primary-2:not(:disabled):not(.disabled):active, .show > .btn-outline-primary-2.dropdown-toggle {
    color: #fff;
    background-color: #f74d49;
    border-color: #f74d49;
    box-shadow: none
}

.btn-outline-primary-2.disabled, .btn-outline-primary-2:disabled {
    color: #fcb842;
    background-color: transparent
}

.btn-outline-light {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    box-shadow: none
}

.btn-outline-light.focus, .btn-outline-light:focus, .btn-outline-light:hover, .btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled):active, .show > .btn-outline-light.dropdown-toggle {
    color: #fcb842;
    background-color: transparent;
    border-color: #fff;
    box-shadow: none
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
    color: #fff;
    background-color: transparent
}

.btn-outline-dark {
    color: #333;
    background-color: transparent;
    background-image: none;
    border-color: #d7d7d7;
    box-shadow: none
}

.btn-outline-dark.focus, .btn-outline-dark:focus, .btn-outline-dark:hover, .btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show > .btn-outline-dark.dropdown-toggle {
    color: #fcb842;
    background-color: transparent;
    border-color: #ebebeb;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .05)
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
    color: #333;
    background-color: transparent
}

.btn-outline-dark-2 {
    color: #333;
    background-color: transparent;
    background-image: none;
    border-color: #ebebeb;
    box-shadow: none
}

.btn-outline-dark-2.focus, .btn-outline-dark-2:focus, .btn-outline-dark-2:hover, .btn-outline-dark-2:not(:disabled):not(.disabled).active, .btn-outline-dark-2:not(:disabled):not(.disabled):active, .show > .btn-outline-dark-2.dropdown-toggle {
    color: #f74d49;
    background-color: #fafafa;
    border-color: #ebebeb;
    box-shadow: none
}

.btn-outline-dark-2.disabled, .btn-outline-dark-2:disabled {
    color: #333;
    background-color: transparent
}

.btn-outline-dark-3 {
    color: #333;
    background-color: transparent;
    background-image: none;
    border-color: #d7d7d7;
    box-shadow: none
}

.btn-outline-dark-3.focus, .btn-outline-dark-3:focus, .btn-outline-dark-3:hover, .btn-outline-dark-3:not(:disabled):not(.disabled).active, .btn-outline-dark-3:not(:disabled):not(.disabled):active, .show > .btn-outline-dark-3.dropdown-toggle {
    color: #fcb842;
    background-color: transparent;
    border-color: #fcb842;
    box-shadow: none
}

.btn-outline-dark-3.disabled, .btn-outline-dark-3:disabled {
    color: #333;
    background-color: transparent
}

.btn-outline-darker {
    color: #333;
    background-color: transparent;
    background-image: none;
    border-color: #d7d7d7;
    box-shadow: none
}

.btn-outline-darker.focus, .btn-outline-darker:focus, .btn-outline-darker:hover, .btn-outline-darker:not(:disabled):not(.disabled).active, .btn-outline-darker:not(:disabled):not(.disabled):active, .show > .btn-outline-darker.dropdown-toggle {
    color: #fff;
    background-color: #fcb842;
    border-color: #fcb842;
    box-shadow: none
}

.btn-outline-darker.disabled, .btn-outline-darker:disabled {
    color: #333;
    background-color: transparent
}

.btn-outline-gray {
    color: #333;
    background-color: transparent;
    background-image: none;
    border-color: #959595;
    box-shadow: none
}

.btn-outline-gray.focus, .btn-outline-gray:focus, .btn-outline-gray:hover, .btn-outline-gray:not(:disabled):not(.disabled).active, .btn-outline-gray:not(:disabled):not(.disabled):active, .show > .btn-outline-gray.dropdown-toggle {
    color: #fff;
    background-color: #fcb842;
    border-color: #fcb842;
    box-shadow: none
}

.btn-outline-gray.disabled, .btn-outline-gray:disabled {
    color: #333;
    background-color: transparent
}

.btn-outline-lightgray {
    color: #333;
    background-color: transparent;
    background-image: none;
    border-color: #ebebeb;
    box-shadow: none
}

.btn-outline-lightgray.focus, .btn-outline-lightgray:focus, .btn-outline-lightgray:hover, .btn-outline-lightgray:not(:disabled):not(.disabled).active, .btn-outline-lightgray:not(:disabled):not(.disabled):active, .show > .btn-outline-lightgray.dropdown-toggle {
    color: #fcb842;
    background-color: #f5f6f9;
    border-color: #ebebeb;
    box-shadow: none
}

.btn-outline-lightgray.disabled, .btn-outline-lightgray:disabled {
    color: #333;
    background-color: transparent
}

.btn-outline-white {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    box-shadow: none
}

.btn-outline-white.focus, .btn-outline-white:focus, .btn-outline-white:hover, .btn-outline-white:not(:disabled):not(.disabled).active, .btn-outline-white:not(:disabled):not(.disabled):active, .show > .btn-outline-white.dropdown-toggle {
    color: #fff;
    background-color: #fcb842;
    border-color: #fcb842;
    box-shadow: none
}

.btn-outline-white.disabled, .btn-outline-white:disabled {
    color: #fff;
    background-color: transparent
}

.btn-outline-white-2 {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    box-shadow: none
}

.btn-outline-white-2.focus, .btn-outline-white-2:focus, .btn-outline-white-2:hover, .btn-outline-white-2:not(:disabled):not(.disabled).active, .btn-outline-white-2:not(:disabled):not(.disabled):active, .show > .btn-outline-white-2.dropdown-toggle {
    color: #fff;
    background-color: #eca62d;
    border-color: #eca62d;
    box-shadow: none
}

.btn-outline-white-2.disabled, .btn-outline-white-2:disabled {
    color: #fff;
    background-color: transparent
}

.btn-outline-white-4 {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    box-shadow: none
}

.btn-outline-white-4.focus, .btn-outline-white-4:focus, .btn-outline-white-4:hover, .btn-outline-white-4:not(:disabled):not(.disabled).active, .btn-outline-white-4:not(:disabled):not(.disabled):active, .show > .btn-outline-white-4.dropdown-toggle {
    color: #fcb842;
    background-color: #fff;
    border-color: #fff;
    box-shadow: none
}

.btn-outline-white-4.disabled, .btn-outline-white-4:disabled {
    color: #fff;
    background-color: transparent
}

.newsletter-popup-container .input-group .btn:focus, .newsletter-popup-container .input-group .btn:hover {
    background-color: #f74d49
}

.bg-image .btn-link-dark:focus, .bg-image .btn-link-dark:hover {
    color: #fcb842;
    border-color: #fcb842
}

.bg-image .btn-outline-primary.focus, .bg-image .btn-outline-primary:focus, .bg-image .btn-outline-primary:hover, .bg-image .btn-outline-primary:not(:disabled):not(.disabled).active, .bg-image .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .bg-image .btn-outline-primary.dropdown-toggle {
    background-color: #fcb842;
    border-color: #fcb842
}

.bg-image .btn-outline-dark.focus, .bg-image .btn-outline-dark:focus, .bg-image .btn-outline-dark:hover, .bg-image .btn-outline-dark:not(:disabled):not(.disabled).active, .bg-image .btn-outline-dark:not(:disabled):not(.disabled):active, .show > .bg-image .btn-outline-dark.dropdown-toggle {
    color: #fcb842
}

.card-title a {
    color: #fcb842
}

.card-title a:before {
    color: #fcb842
}

.card-title a.collapsed:focus, .card-title a.collapsed:hover {
    color: #f74d49
}

.count-wrapper {
    color: #fcb842
}

.feature-box i {
    color: #fcb842
}

.feature-box-simple i {
    color: #fcb842
}

.form-control:focus {
    border-color: #f74d49
}

.custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #fcb842
}

.custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #fcb842
}

.icon-box-icon {
    color: #fcb842
}

.icon-box-circle .icon-box-icon {
    background-color: #fcb842
}

.instagram-feed-content a:focus, .instagram-feed-content a:hover {
    color: #fcb842
}

.close:focus, .close:hover {
    color: #f74d49
}

.page-header h1 span {
    color: #828282
}

.page-link:focus, .page-link:hover {
    color: #fcb842
}

.page-item.active .page-link {
    color: #f74d49
}

.social-icon:focus, .social-icon:hover {
    color: #f74d49;
    border-color: #f74d49
}

.testimonial-icon:before {
    color: #fcb842
}

.nav.nav-tabs .nav-link:focus, .nav.nav-tabs .nav-link:hover {
    color: #f74d49
}

.nav.nav-tabs .nav-item .nav-link.active, .nav.nav-tabs .nav-item.show .nav-link {
    color: #f74d49
}

.nav.nav-pills .nav-link:focus, .nav.nav-pills .nav-link:hover {
    color: #fcb842
}

.nav.nav-pills .nav-item .nav-link.active, .nav.nav-pills .nav-item.show .nav-link {
    color: #fcb842;
    border-bottom-color: #fcb842
}

.nav.nav-border-anim .nav-link:before {
    background-color: #fcb842
}

.title-link:focus, .title-link:hover {
    box-shadow: 0 1px 0 0 #fcb842
}

.product-countdown.countdown-primary .countdown-amount {
    color: #fcb842
}

.product-title a:focus, .product-title a:hover {
    color: #f74d49
}

.product-price {
    color: #f74d49
}

.product-label.label-primary {
    background-color: #fcb842
}

.product-label.label-secondary {
    background-color: #eca62d
}

.product-label-text {
    color: #fcb842
}

.ratings-primary .ratings-val {
    color: #fcb842
}

.ratings-text a:focus, .ratings-text a:hover {
    color: #fcb842
}

.btn-product {
    color: #fcb842
}

.btn-product:focus span, .btn-product:hover span {
    color: #fcb842;
    box-shadow: 0 1px 0 0 #fcb842
}

.btn-product-icon {
    color: #f74d49
}

.btn-product-icon:focus, .btn-product-icon:hover {
    background-color: #fcb842
}

.product-body .btn-wishlist:focus, .product-body .btn-wishlist:hover {
    color: #fcb842
}

.btn-expandable span {
    background-color: #f74d49
}

.product.product-4 .btn-product:focus, .product.product-4 .btn-product:hover {
    background-color: #eca62d
}

.product.product-5 .btn-product {
    color: #fcb842
}

.product.product-5 .btn-product:focus, .product.product-5 .btn-product:hover {
    background-color: #fcb842
}

.product.product-7 .btn-product {
    color: #fcb842
}

.product.product-7 .btn-product span {
    color: #f74d49
}

.product.product-7 .btn-product:focus, .product.product-7 .btn-product:hover {
    background-color: #f74d49;
    border-bottom-color: #f74d49
}

.product.product-8 .new-price {
    color: #fcb842
}

.product.product-8 .btn-product:before {
    color: #fcb842
}

.product.product-8 .btn-product:focus, .product.product-8 .btn-product:hover {
    background-color: #fcb842
}

.product.product-list .btn-product:focus, .product.product-list .btn-product:hover {
    color: #fcb842
}

.product.product-list .btn-product.btn-cart {
    color: #fcb842;
    border-bolor: #fcb842
}

.product.product-list .btn-product.btn-cart:focus, .product.product-list .btn-product.btn-cart:hover {
    background-color: #fcb842
}

.footer a:focus, .footer a:hover {
    color: #f74d49
}

.footer-dark.footer-2 .widget-about-title {
    color: #fcb842
}

.header-top a:focus, .header-top a:hover {
    color: #fff
}

.top-menu span {
    color: #fcb842
}

.header-menu a:focus, .header-menu a:hover {
    color: #fff
}

.account a:focus, .account a:hover {
    color: #fcb842
}

.wishlist a:focus, .wishlist a:hover {
    color: #fcb842
}

.wishlist a .wishlist-count {
    background-color: #f74d49
}

.cart-dropdown.show .dropdown-toggle, .cart-dropdown:hover .dropdown-toggle, .compare-dropdown.show .dropdown-toggle, .compare-dropdown:hover .dropdown-toggle {
    color: #fcb842
}

.compare-product-title a:focus, .compare-product-title a:hover {
    color: #fcb842
}

.compare-actions .action-link:focus, .compare-actions .action-link:hover {
    color: #fcb842
}

.cart-dropdown .cart-count {
    background-color: #f74d49
}

.cart-dropdown .product-title a:focus, .cart-dropdown .product-title a:hover {
    color: #fcb842
}

.wishlist-link .wishlist-count {
    background-color: #fcb842
}

.wishlist-link:focus, .wishlist-link:hover {
    color: #fcb842
}

.search-toggle.active, .search-toggle:focus, .search-toggle:hover {
    color: #fcb842
}

.menu li.active > a, .menu li.show > a, .menu li:hover > a {
    color: #f74d49
}

.demo-item a:focus, .demo-item a:hover {
    color: #fcb842
}

.tip {
    background-color: #fcb842
}

.header-bottom .menu > li > a:before {
    background-color: #f74d49
}

.category-dropdown .dropdown-toggle:before {
    background-color: #fcb842
}

.category-dropdown .dropdown-toggle:focus, .category-dropdown .dropdown-toggle:hover {
    color: #fff;
    background-color: #fcb842
}

.category-dropdown:not(.is-on):hover .dropdown-toggle {
    background-color: #fcb842
}

.category-dropdown.show .dropdown-toggle {
    color: #fff;
    background-color: #fcb842
}

.category-dropdown .dropdown-item:focus, .category-dropdown .dropdown-item:hover {
    color: #fcb842
}

.menu-vertical li.active > a, .menu-vertical li.show > a, .menu-vertical li:hover > a {
    color: #fcb842
}

.menu-vertical > li.active > a, .menu-vertical > li.show > a, .menu-vertical > li:hover > a {
    color: #fcb842
}

.mobile-menu-close:focus, .mobile-menu-close:hover {
    color: #fcb842
}

.mobile-menu li a:focus, .mobile-menu li a:hover {
    color: #f74d49
}

.mobile-menu li.active > a, .mobile-menu li.open > a {
    color: #f74d49
}

.mmenu-btn:focus, .mmenu-btn:hover {
    color: #f74d49
}

.mobile-search .form-control:focus {
    border-color: #fcb842
}

.nav.nav-pills-mobile .nav-link.active, .nav.nav-pills-mobile .nav-link:focus, .nav.nav-pills-mobile .nav-link:hover {
    color: #f74d49;
    border-bottom-color: #f74d49
}

.mobile-cats-menu li a:focus, .mobile-cats-menu li a:hover {
    color: #fcb842
}

.mobile-menu-light .mobile-menu li.active > a, .mobile-menu-light .mobile-menu li.open > a {
    color: #fcb842
}

.mobile-menu-light .mobile-search .form-control:focus {
    border-color: #fcb842
}

.header-4 .header-search .header-search-wrapper {
    border-color: #fcb842
}

.header-4 .dropdown.category-dropdown .dropdown-toggle:not(:hover):not(:focus) {
    color: #fcb842
}

@media screen and (max-width: 991px) {
    .header-4 .header-search-visible .header-search-wrapper:before {
        border-bottom-color: #fcb842
    }
}

.header-6 .header-middle a:focus, .header-6 .header-middle a:hover {
    color: #fcb842
}

.header-8 .header-top {
    color: #fef2de;
    background-color: #fcb842
}

.header-10 .header-search .header-search-wrapper {
    border-color: #fcb842
}

.header-10 .category-dropdown .dropdown-toggle {
    background-color: #fcb842
}

.header-10 .menu-vertical .menu-title {
    color: #fcb842
}

.header-12 .dropdown.category-dropdown .dropdown-toggle {
    background-color: #fcb842
}

.header-13 .dropdown.category-dropdown .dropdown-toggle {
    background-color: #fcb842
}

.header-14 .header-search .header-search-wrapper {
    border-color: #fcb842
}

.header-14 .dropdown.category-dropdown .dropdown-toggle {
    background-color: #fcb842
}

.entry-video a:focus:after, .entry-video a:hover:after {
    color: #fcb842
}

.entry-meta a:focus, .entry-meta a:hover {
    color: #fcb842;
    box-shadow: 0 1px 0 #fcb842
}

.entry-title a:focus, .entry-title a:hover {
    color: #fcb842
}

.entry-cats a:focus, .entry-cats a:hover {
    color: #fcb842;
    box-shadow: 0 1px 0 #fcb842
}

.read-more:focus, .read-more:hover {
    box-shadow: 0 1px 0 0 #fcb842
}

.menu-cat a:focus, .menu-cat a:hover {
    color: #fcb842
}

.menu-cat li.active a {
    color: #fcb842;
    box-shadow: 0 1px 0 #fcb842
}

.widget-search .btn:focus, .widget-search .btn:hover {
    color: #fcb842
}

.widget-cats a:focus, .widget-cats a:hover {
    color: #fcb842
}

.posts-list a:focus, .posts-list a:hover {
    color: #fcb842
}

.tagcloud a:focus, .tagcloud a:hover {
    color: #fcb842
}

.table .total-col {
    color: #f74d49
}

.btn.btn-spinner:focus, .btn.btn-spinner:hover {
    color: #fcb842
}

.table.table-summary .summary-shipping-estimate a:focus, .table.table-summary .summary-shipping-estimate a:hover {
    color: #f74d49;
    border-bottom-color: #f74d49
}

.sidebar-toggler:focus, .sidebar-toggler:hover {
    color: #fcb842
}

#filter-price-range {
    color: #f74d49
}

.checkout-discount label span {
    color: #f74d49
}

.checkout-discount .form-control:focus {
    border-color: #f74d49
}

.table.table-summary a:focus, .table.table-summary a:hover {
    color: #fcb842
}

.table.table-summary .summary-total td {
    color: #f74d49
}

.accordion-summary .card-title a:before {
    border-color: #f74d49
}

.accordion-summary .card-title a:after {
    background-color: #f74d49
}

.paypal-link:focus, .paypal-link:hover {
    color: #f74d49 !important
}

.coming-countdown .countdown-amount {
    color: #fcb842
}

.coming-countdown.countdown-separator .countdown-section:not(:last-child):after {
    color: #fcb842
}

.contact-box a:focus, .contact-box a:hover {
    color: #fcb842
}

.contact-list a:focus, .contact-list a:hover {
    color: #fcb842
}

.contact-list i {
    color: #fcb842
}

.store a:not(.btn):focus, .store a:not(.btn):hover {
    color: #fcb842
}

.nav-dashboard .nav-link.active, .nav-dashboard .nav-link:focus, .nav-dashboard .nav-link:hover {
    color: #f74d49
}

.form-tab .form-footer a:focus, .form-tab .form-footer a:hover {
    color: #fcb842
}

.nav-filter a:focus, .nav-filter a:hover {
    color: #fcb842
}

.nav-filter .active a {
    color: #fcb842;
    border-bottom-color: #fcb842
}

.portfolio-title a:focus, .portfolio-title a:hover {
    color: #fcb842
}

.portfolio-tags a {
    color: #fcb842
}

.portfolio-tags a:focus, .portfolio-tags a:hover {
    color: #fcb842;
    box-shadow: 0 1px 0 #fcb842
}

.btn-product-gallery{
    font-size: 4rem;
}
.btn-product-gallery {
    top: 50%;
    left: 50% !important;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: #fff;
    width: 6rem;
    height: 6rem;
}

.btn-product-gallery:focus, .btn-product-gallery:hover {
    background-color: #fcb842
}

.product-gallery-item:before {
    border-color: #fcb842
}

.product-pager-link:focus, .product-pager-link:hover {
    color: #fcb842
}

.product-pager-link:focus span, .product-pager-link:hover span {
    box-shadow: 0 1px 0 #fcb842
}

.product-details .product-cat a:focus, .product-details .product-cat a:hover {
    color: #fcb842;
    box-shadow: 0 1px 0 #fcb842
}

.product-details .product-size a.active, .product-details .product-size a:focus, .product-details .product-size a:hover {
    color: #fcb842;
    border-color: #fcb842
}

.size-guide:focus, .size-guide:hover {
    color: #fcb842
}

.product-details-action .btn-cart {
    color: #fff;
    border-color: #f74d49
}

.product-details-action .btn-cart:focus, .product-details-action .btn-cart:hover {
    border-color: #191919;
    background-color: #191919
}

.product-details-tab .nav.nav-pills .nav-link:focus, .product-details-tab .nav.nav-pills .nav-link:hover {
    color: #f74d49;
    border-bottom-color: #f74d49
}

.product-desc-content a:focus, .product-desc-content a:hover {
    color: #fcb842;
    border-bottom-color: #fcb842
}
.product-desc-content h3{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.review h4 a:focus, .review h4 a:hover {
    color: #fcb842
}

.review-action a:focus, .review-action a:hover {
    color: #fcb842;
    box-shadow: 0 1px 0 #fcb842
}

.product-details-extended .nav.nav-pills .nav-link.active, .product-details-extended .nav.nav-pills .nav-link:focus, .product-details-extended .nav.nav-pills .nav-link:hover {
    border-color: #fcb842
}

.editor-content a:focus, .editor-content a:hover {
    color: #fcb842;
    box-shadow: 0 1px 0 #fcb842
}

.editor-content blockquote {
    border-left-color: #fcb842
}

.entry-tags a:focus, .entry-tags a:hover {
    color: #fcb842
}

.entry-author-details h4 a:focus, .entry-author-details h4 a:hover {
    color: #fcb842
}

.author-link:focus, .author-link:hover {
    color: #fcb842;
    box-shadow: 0 1px 0 #fcb842
}

.pager-link {
    color: #fcb842
}

.pager-link:focus, .pager-link:hover {
    color: #fcb842
}

.pager-link:focus:after, .pager-link:hover:after {
    color: #fcb842
}

.comment-reply:focus, .comment-reply:hover {
    color: #fcb842;
    box-shadow: 0 1px 0 #fcb842
}

.comment-user h4 a:focus, .comment-user h4 a:hover {
    color: #fcb842
}

.product-col .product-title a:focus, .product-col .product-title a:hover {
    color: #f74d49
}

.owl-theme .owl-nav [class*=owl-] {
    color: #fcb842
}

.owl-theme .owl-nav [class*=owl-]:not(.disabled):hover {
    border-color: #fcb842;
    background: #fcb842
}

.owl-theme.owl-light .owl-nav [class*=owl-]:not(.disabled):hover {
    border-color: #fcb842
}

.owl-theme.owl-light .owl-dots .owl-dot:hover span {
    border-color: #fcb842;
    background: #fcb842
}

.owl-theme.owl-light .owl-dots .owl-dot.active span {
    border-color: #fcb842;
    background: #fcb842
}

.owl-full .owl-nav [class*=owl-] {
    color: #fcb842
}

.owl-full .owl-nav [class*=owl-]:focus, .owl-full .owl-nav [class*=owl-]:hover {
    color: #fcb842
}

.owl-full .owl-dots .owl-dot span {
    border-color: #fcb842
}

.owl-full .owl-dots .owl-dot:hover span {
    border-color: #fcb842;
    background: #fcb842
}

.owl-full .owl-dots .owl-dot.active span {
    border-color: #fcb842;
    background: #fcb842
}

.owl-full.owl-nav-dark .owl-nav [class*=owl-]:focus, .owl-full.owl-nav-dark .owl-nav [class*=owl-]:hover {
    color: #fcb842
}

.owl-simple .owl-nav [class*=owl-]:not(.disabled):hover {
    color: #fcb842
}

.owl-simple.owl-light .owl-dots .owl-dot:hover span {
    border-color: #fcb842;
    background: #fcb842
}

.owl-simple.owl-light .owl-dots .owl-dot.active span {
    border-color: #fcb842;
    background: #fcb842
}

.quickView-content .owl-theme.owl-light .owl-nav [class*=owl-] {
    border: none;
    font-size: 3rem;
    color: #fff
}

.quickView-content .owl-theme.owl-light .owl-nav [class*=owl-]:focus, .quickView-content .owl-theme.owl-light .owl-nav [class*=owl-]:hover {
    color: #fcb842;
    background-color: transparent
}

.quickView-content .details-action-wrapper .btn-product:focus span, .quickView-content .details-action-wrapper .btn-product:hover span {
    color: #fcb842;
    box-shadow: 0 1px 0 0 #fcb842
}

.quickView-content .product-details-action .btn-cart {
    transition: color .3s
}

.quickView-content .product-details-action .btn-cart:focus, .quickView-content .product-details-action .btn-cart:hover {
    border-color: #fcb842;
    background-color: #fcb842;
    color: #fff
}

.quickView-content .btn-compare, .quickView-content .btn-wishlist {
    border: none
}

.quickView-content .btn-compare:before, .quickView-content .btn-wishlist:before {
    color: #fcb842
}

.quickView-content .btn-compare:focus, .quickView-content .btn-compare:hover, .quickView-content .btn-wishlist:focus, .quickView-content .btn-wishlist:hover {
    color: #fcb842;
    background-color: transparent
}

.quickView-content .btn-compare:focus span, .quickView-content .btn-compare:hover span, .quickView-content .btn-wishlist:focus span, .quickView-content .btn-wishlist:hover span {
    color: #fcb842
}

.quickView-content .btn-fullscreen:focus, .quickView-content .btn-fullscreen:hover {
    color: #fff;
    background-color: #fcb842
}

.quickView-content .product-left .carousel-dot.active img {
    opacity: 1;
    box-shadow: 0 0 0 1px #fcb842
}

.quickView-content .product-left .carousel-dot:focus img, .quickView-content .product-left .carousel-dot:hover img {
    opacity: 1
}

.newsletter-popup-container .banner-title span {
    color: #f74d49
}

.header-intro-clearance .header-bottom .header-center, .header-intro-clearance .header-middle .header-center {
    max-width: 100%;
    flex: 1;
}

.product-gallery-vertical .product-main-image {
    flex: none;
    max-width: 100%;
}

.header-search-wrapper span.twitter-typeahead .tt-suggestion {
    white-space: normal;
}

.header-search-wrapper span.twitter-typeahead .tt-suggestion .tt-prod img {
    display: inline-block;
    padding-right: 10px;
    float: left;
    height: 90px;
    max-width: 90px
}

.header-search-wrapper span.twitter-typeahead .tt-suggestion .tt-all {
    padding: 10px 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: #2f82fb;
    color: #fff;
    border-radius: 5px;
}

.header-search-wrapper span.twitter-typeahead .tt-suggestion .tt-prod {
    padding: 10px 15px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-size: 18px;
}

.header-search-wrapper span.twitter-typeahead .tt-suggestion .tt-prod:hover {
    box-shadow: 0 3px 9px 1px rgba(0, 0, 0, .2);
}

.header-search-wrapper span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
    background: none;
    color: inherit;
}

#productDetailSlide{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index: 1050;
    text-align: center;
}
#productDetailSlide .slickWrap{
    width: 70%;
    display: inline-block;
    top: 50%;
    /*transform: translateY(-50%);*/
}
#productDetailSlide .close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
#productDetailSlide .slickWrapMain .product-image-gallery-item{
    background-position: center;
    background-size: contain;
    height: 600px;
    background-repeat: no-repeat;
}

#productDetailSlide .slickWrapNav .product-image-gallery-item{
    background-position: center;
    background-size: contain !important;
    height: 200px;
    background-repeat: no-repeat;
}

#productDetailSlide .slickWrapMain .product-image-gallery-item:focus{
    outline: none;
}
#productDetailSlide .slickWrapNav .product-image-gallery-item:focus{
    outline: none;
}
#productDetailSlide .slickWrapMain{
     visibility: hidden;
 }
#productDetailSlide .slickWrapMain.slick-initialized{
    visibility: visible;
}
#productDetailSlide .slickWrapNav{
    visibility: hidden;
}
#productDetailSlide .slickWrapNav.slick-initialized{
    visibility: visible;
}

@media screen and (min-width: 1200px){
    .header-3 .header-search .search-wrapper-wide {
        width: 520px !important;
    }
}

.info {
    background: rgba(47,130,251,.07);
    border-top: 3px solid #2f82fb;
    border-radius: 3px 3px 0 0;
    display: flex;
    margin-bottom: 15px;
    padding: 20px
}

.info__icon {
    height: 22px;
    width: 22px;
    background: #fff;
    border: 2px solid #2f82fb;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(47,130,251,.3);
    fill: #2f82fb;
    margin-right: 16px;
    min-width: 22px
}

@media screen and (max-width: 1229px) {
    .info {
        align-items:center;
        flex-direction: column
    }

    .info__icon {
        margin-bottom: 12px;
        margin-right: 0
    }

    .info__description {
        width: 100%
    }
}
